# Environnement Python
.venv/
venv/
_pycache_/
*.pyc
.pytest_cache/

# Secrets
.env
.env.*
config/.env
config/.env.*
!.env.example
!config/.env.example

# Fichiers temporaires
*.log
*.tmp
*.swp
*.swo

# Sauvegardes / données SQL
netatlas_test_seed.sql
*.dump
*.backup

# IDE
.vscode/
.idea/
docs/info_commande/info_txt

# Notes et fichiers locaux
NETATLAS.txt
docs/connexion_Python_Postgres.py
docs/info_commande/info_txt
