<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>NetAtlas - Accès temporaire</title>

		<link
				rel="stylesheet"
				href="{{ url_for('static', filename='style.css') }}"
				>
	</head>

		<body>
			<a class="logo logo-home" href="{{ url_for('accueil') }}">
				NETATLAS
			</a>

			<main class="page-acces">
				<section class="acces-contenu">
					<h1>Accès temporaire</h1>

					<p>
					<a class="explorer" href="{{ url_for('recherche_globale_web', origine='temporaire') }}">
						Consultation libre de NETATLAS
					</a>
					<p>
					Pour ajouter des éléments ou des commentaires,
					<a href="{{ url_for('creer_profil') }}">Créez un profil</a>
					</p>

					<a class="choix-acces" href="{{ url_for('acces') }}">
						Retour
					</a>
				</section>
			</main>
		</body>
</html>

